body {
    background-color: black;
    padding-top: 0%;
    margin-top: 0%;
    height: 100%;
    padding-left: 8vh;
    padding-right: 8vh;
  }
  
  .first-container {
    z-index: 1;
    height: 100%;
    border-radius: 15px;
    width: 100%;
    padding-top: 0vh;
    padding-bottom: 50px;
    background-color: #28292b;
  }

  .all-place{
    display: block;
    height: 100%;
    margin-left: 130px;
    margin-right: 130px;
  }

  .single-place{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
    background-color: #424346;
    text-align: center;
  }

  .single-place img{
    margin-bottom: 20px;
    height: 500px;
    width: 100%;
    border-radius: 10px;
  }

  .single-place h3{
    padding-bottom: 10px;
    text-align: center;
    color: white;
  }

  .single-place a{
    text-decoration: none;
    background-color: black;
    padding-left: 30px;
    font-size: 18px;
    padding-right: 30px;
    padding-top: 3px;
    color: white;
    border-radius: 10px;
    padding-bottom: 3px;
  }

  