/* Styling the logo */
.logo a {
  color: #fff;
  font-size: 24px; /* Font size */
  font-weight: bold; /* Font weight */
  text-decoration: none; /* Remove underline */
}

body {
  background-color: black;
  padding-top: 0%;
  margin-top: 0%;
  padding-left: 8vh;
  padding-right: 8vh;
}

.first-container {
  z-index: 1;
  border-radius: 15px;
  height: 100vh;
  padding-top: 0vh;
  background-color: #28292b;
}

.first-container img {
  height: 70vh;
  width: 100%;
  z-index: -1;
}

.second-container {
  z-index: -1;
  height: 125vh;
  padding-top: 0vh;
  background-color: #1a1818;
}

.second-container h2 {
  text-align: start;
  padding-top: 50px;
  padding-left: 50px;
}

.flex-text {
  display: flex;
  justify-content: start;
  gap: 50px;
  margin-left: 50px;
  font-size: 22px;
}

.flex-text a {
  text-decoration: none;
  color: white;
}

.flex-containers {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.single-item-container {
  height: 270px;
  width: 290px;
  border-radius: 15px;
  background-color: rgb(39, 39, 42);
}

.single-item-container img {
  height: 155px;
  width: 100%;
  border-radius: 15px;
}

.card-text{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 125px;
  margin-bottom: -65px;
}

.card-button{
  text-decoration: none;
  margin-left: 10px;
  background-color: #000000;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  border-radius: 15px;
}

.card-text p {
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.single-item-small-container {
  margin-top: -20px;
  padding: 20px 20px 20px 20px;
  height: 235px;
  width: 220px;
  background-color: rgb(39, 39, 42);
  border-radius: 15px;
}

.single-item-small-container img {
  height: 120px;
  width: 100%;
  border-radius: 15px;
}

.card-button-small{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 65px;
  margin-right: 65px;
  background-color: #a5a5a5bc;
  color: black;
  font-size: 13px;
  width: 70px;
  border-radius: 15px;
}

.card-text-small{
  margin-top: 10px;
}

.card-text-small p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.search-with-button input {
  margin-left: 250px;
  color: black;
  font-weight: 500;
  width: 100vh;
  height: 40px;
  margin-bottom: 40px;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #d3cfcf;
}

.search-with-button {
  display: flex;
}

.search-with-button button {
  background-color: #000000;
  color: white;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
  width: 100px;
  border-radius: 10px;
}

.text {
  z-index: 1;
  font-size: 50px;
  color: white;
  margin-top: -50vh;
  text-align: center;
}

.secondtext {
  z-index: -1;
  font-size: 30px;
  color: white;
  margin-bottom: 19vh;
  text-align: center;
}

.black-button{
  width: 400px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: #000000;
}

h2 {
  text-align: center;
  font-size: 35px;
  color: white;
  padding: 20px;
}

.navbar {
  background-color: grey;
  padding: 10px 20px;
}

/* Styling the logo */
.logo a {
  color: #fff;
  font-size: 24px;
  /* Font size */
  font-weight: bold;
  /* Font weight */
  text-decoration: none;
  /* Remove underline */
}

/* Styling the navigation links */
.nav li {
  display: inline;
  /* Display inline */
  margin-right: 20px;
  /* Margin between links */
}

.nav li a {
  color: #fff;
  /* Text color */
  text-decoration: none;
  /* Remove underline */
}

.nav li a:hover {
  color: #ddd;
  /* Text color on hover */
}
