body {
  background: #030303;
  height: 100%;
  width: 100%;
}

.image-background {
  z-index: 0;
  opacity: 0.2;
  position: absolute;
  height: 105vh;
  width: 215vh;
  margin-top: -40px;
  margin-bottom: 40px;
  margin-left: -15vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 200vh;

  max-width: 400px;
  margin: 0 auto;
  background-color: #323232;
  box-shadow: 1vh 1vh 10vh black;
  border-radius: 10px;
}

.card-title {
  color: white;
}

.form-group {
  margin-bottom: 1.5rem;
  color: white;
}

.text {
  margin-top: 15px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.btn-primary {
  background-color: #161616;
  border-color: #161616;
  width: 100%;
  border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #373737;
  border-color: #161616;
}

.form-control::placeholder {
  color: rgb(145, 145, 145); /* Set placeholder text color to white */
}
form {
  max-width: 300px;
  margin: 100px auto;
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #444;
  color: white;
}
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0056b3;
}
