body {
  background-color: black;
  padding-top: 0%;
  margin-top: 0%;
  padding-left: 8vh;
  padding-right: 8vh;
}

.first-container {
  z-index: 1;
  border-radius: 15px;
  height: 260vh;
  width: 100%;
  padding-top: 0vh;
  background-color: #28292b;
}

.place-head-details {
  height: 70vh;
  width: 100%;
  position: relative; /* Set relative positioning for containing absolutely positioned elements */
}

.place-head-details img {
  height: 70vh;
  width: 100%; /* Adjusted to fill the entire width of the container */
  z-index: 0;
}

.place-head-details .place-name {
  text-align: center;
  color: white;
  font-size: 70px;
  font-weight: 600;
  position: absolute; /* Position the text absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Centering trick */
  z-index: 1;
}

.all-place-details {
  display: block;
  width: 100%;
}

.place-details {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.place-desc {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  display: block;
}

.place-desc p {
  letter-spacing: 1px;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.place-desc justify {
  font-size: 20px;
  color: white;
}

.button-book {
  margin-top: 50px;
  width: 160px;
  padding: 10px 20px 10px 20px;
  background-color: black;
  border-radius: 10px;
}

.button-book a {
  color: white;
  text-decoration: none;
}

.time p {
  color: rgb(113, 177, 150);
  margin-top: 100px;
  font-size: 18px;
  font-weight: 400;
}

.place-img {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
}

.place-img img {
  width: 600px;
  height: 400px;
}

.booking-info {
  border-color: white;
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.booking-info .items {
  padding-left: 160px;
  padding-right: 160px;
  border: solid 3px white;
  padding-top: 8px;
  color: white;
}

.booking-info .items p {
  color: white;
  font-size: 20px;
}

.booking-info .hotel-items {
  display: block;
  text-align: center;
  width: 430px;
  padding-top: 8px;
  color: white;
}

.booking-info .tour-items {
  display: block;
  text-align: center;
  width: 430px;
  padding-top: 8px;
  color: white;
}

.booking-info .transport-items {
  display: block;
  text-align: center;
  width: 430px;
  padding-top: 8px;
  color: white;
}

.booking-info .hotel-items-details p {
  color: white;
  font-size: 18px;
}

.booking-info .tour-items-details p {
  color: white;
  font-size: 18px;
}

.booking-info .transport-items-details p {
  color: white;
  font-size: 18px;
}
